@import 'assets/styles/abstracts/variables';
@import 'assets/styles/abstracts/mixins';

:host {
  width: 100%;
  overflow-x: auto;
}

table.default {
  width: 100%;
  border-collapse: collapse;

  thead {
    th {      
      background-color: $color-primary;
      color: $color-white;
      padding: 16px;
    }
    th:first-child {
      border-top-left-radius: 5px;
    }
    th:last-child {
      border-top-right-radius: 5px;
    }
  }

  tbody {
    td {
      border: none;
      border-bottom: $border-width solid $color-gray;
      padding: 16px;
    }
  }
}

table.insurance {
  width: 100%;
  border-collapse: collapse;

  thead {
    th {
      border-bottom: 2px solid $color-gray;

      &:first-child {
        border-right: 2px solid $color-gray;
        background-color: $color-white;
        padding: 16px;
      }
    }
  }

  // Estilização do corpo da tabela
  tbody {
    tr {
      &:last-child {
        border-bottom: $border-width-200 solid $color-support-gray-100;
      }
    }

    td {
      padding: 16px;
      border-bottom: $border-width solid $color-gray;

      &:first-child {
        border-right: 2px solid $color-gray;
        font-weight: 600;
      }
    }
  }
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}